/* fonts */
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import url('../fonts/style.css');

/* colors */
:root {
  --gray-stroke: #79747e;
  --blackish-green: #112211;
  --mint-green: #8dd3bb;
  --slamon: #ff8682;
  --neutrals: #ffffff;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(20px);
  opacity: 0;
}
