/* fonts */
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import url('../fonts/style.css');

/* colors */
:root {
  --gray-stroke: #79747e;
  --blackish-green: #112211;
  --mint-green: #8dd3bb;
  --slamon: #ff8682;
  --neutrals: #ffffff;
}
