@import './base.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  transition: 0.3s;
}

html,
body {
  height: 100%;
}

#app {
  height: 100%;
}

body {
  background-color: var(--background);
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  max-width: 1252px;
  margin: 0 auto;
  padding: 0 10px;
}
